header {
	background: #580f8b !important;
	margin: 0;
	border-bottom: 0px;

	.parent a {
		background-image: url('https://hsl.med.nyu.edu/sites/default/files/primo/nyuhsl_identity.png');
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 160px;
  }
}

//Hide login and e-shelf option
.nyu-login, .eshelf{
	display: none;
}
