header {
  background: {
    image: url("https://cdn.library.nyu.edu/images/nyulibraries-logo.svg");
    position: 21px 21px;
    repeat: no-repeat;
    color: $nyu-purple;
    size: 210px;
  }
  height: 69px;

  a {
    float: left;
    height: 69px;
    width: 209px;
  }

  span {
    visibility: hidden;
  }

  .institution {
    float: right;
  }
}
