.search {
  // Search has a 5% linear gradient and rounded borders
  background-color: $search-bg;
  // Search is padded
  padding: $line-height-large-computed;

  // Search section is separated by a top border
  .search-section {
    border-top: 1px solid $search-border-color;
  }

  // The primary search section is not
  #primary-search {
    border-top: none;
  }
}
