.sidebar {
  .navbar.navbar-default {
    background-color: transparent;
    border: 0;
    .navbar-header {
      float: none;
      button.navbar-toggle {
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 0;
        background-color: $breadcrumb-bg;
      }
    }
  }
  h2, h3 {
    @include sidebar;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    background-color: $sidebar-header-bg;
    @include sidebar;
    font-weight: normal;
    i {
      vertical-align: baseline;
    }
  }

  h3 {
    border-top: 2px solid $nyulibraries-border-color-light;
  }

  .sidebar-section {
    @include border-bottom-radius($border-radius-base);
    margin-bottom: $line-height-computed;
    background-color: $sidebar-bg;
    ul {
      @include sidebar;
      @extend .list-unstyled !optional;
      li {
        margin: {
          top: $line-height-computed;
          bottom: $line-height-computed;
        }
      }
    }
  }
}
